[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ranger-agent
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ranger-agent
	label-Verified = -1..+1 group user/ranger-agent
	push = group user/ranger-agent
	read = group user/ranger-agent
	rebase = group user/ranger-agent
	removeReviewer = group user/ranger-agent
	submit = group user/ranger-agent
[access "refs/heads/*"]
	create = group user/ranger-agent
	push = +force group user/ranger-agent
	pushMerge = group user/ranger-agent
	read = group user/ranger-agent
[access "refs/tags/*"]
	push = group user/ranger-agent
	push = +force group user/ranger-agent
